body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

nav ul li {
  margin-right: 1rem;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 2rem;
}

section h2 {
  margin-bottom: 1rem;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.project {
  background-color: #f4f4f4;
  padding: 1rem;
  border-radius: 5px;
}

form label,
form input,
form textarea {
  display: block;
  margin-bottom: 0.5rem;
}

form input,
form textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

form button {
  padding: 0.5rem 1rem;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger .line {
  width: 30px;
  height: 1px;
  background-color: #fff;
  margin: 3px;
  transition: all 0.3s ease;
}

.hamburger .line1 {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger .line2 {
  opacity: 0;
}

.hamburger .line3 {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* Mobile Styles */
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .nav-links.show {
    display: block;
    background-color: #333;
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    padding: 1rem;
  }

  .nav-links.show ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .nav-links.show ul li {
    margin-bottom: 1rem;
  }

  .hamburger {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;
  }

  header {
    padding: 0.5rem;
  }

  nav ul {
    justify-content: space-between;
    flex-wrap: wrap;
  }

  nav ul li {
    margin-bottom: 0.5rem;
  }

  section {
    padding: 1rem;
  }

  .project-list {
    grid-template-columns: 1fr;
  }
}